/* Transforma em 'link' */
.not_a_link{
  color:rgb(152, 197, 73);
  text-decoration: underline; 
  cursor: pointer;
}
/* Transforma em 'link' */

/* Fundo e estilo */
#bg{
	background-color: whitesmoke;
  margin: auto;
  width: 75%;
  height: 75%;
  border: 3px solid green;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  text-align: center;
}

.logIN{
  margin: 20px 0 50px;
}
/* Fundo e estilo */